@font-face {
    font-family: 'Inter-Regular';
    font-display: swap;
    src: local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter-Bold';
    font-display: swap;
    src: local('Inter-Bold'),
        url('../fonts/Inter-Bold.woff') format('woff');
}

html {
    box-sizing: border-box;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter-Regular', sans-serif;
    line-height: normal;
    color: #000;
}

/* шапка */
.header {
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}

.header__wrapper {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__icon {
    position: relative;
}

.header__icon span {
    position: absolute;
    top: -9px;
    right: -9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fb2c36;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
}

.header__icon span.read {
    display: none;
}

.header__content {}

.header__title {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.header__text {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.header__btn {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 #0000000d;
}

.header__btn>svg {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.header__btn:hover {
    background-color: whitesmoke;
}

/* основной блок */
.main {
    display: flex;
}

/* меню слева */
.main__navigation {
    border-right: 1px solid #ebebeb;
}

.main__menu {
    padding: 24px;
    position: sticky;
    top: 0;
    width: 320px;
    background-color: #fff;
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu__block {
    padding-bottom: 24px;
    border-bottom: 1px solid #ebebeb;
}

.menu__block:last-child {
    border: none;
}

.menu__title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
}

.menu__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.menu__btn {
    padding: 7px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
}

.menu__btn>svg {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.menu__color {
    margin-right: 14px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

#urgent .menu__color {
    background-color: #fb2c36;
}

#high .menu__color {
    background-color: #ff6900;
}

#medium .menu__color {
    background-color: #f0b100;
}

#low .menu__color {
    background-color: #00c951;
}

.menu__btn span {
    margin-left: auto;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

.menu__btn.active {
    background-color: #000;
    color: #fff;
}

.menu__btn:hover {
    background-color: whitesmoke;
}

.menu__btn.active:hover {
    background-color: #171717;
}

.menu__btn.active>svg {
    stroke: #fff;
}

#filter-btn.menu__btn span,
#hidden-btn.menu__btn span {
    display: none;
}

#filter-btn.menu__btn.active span,
#hidden-btn.menu__btn.active span {
    display: flex;
}

/* блок с уведомлениями справа */
.main__wrapper {
    padding: 24px;
    width: 100%;
    background-color: #f6f9fb;
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main__card {
    padding: 24px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 0 2px oklch(88.2% .059 254.128),
        0 1px 3px 0 #0000001a,
        0 1px 2px -1px #0000001a;
}

.main__card:hover {
    box-shadow: 0 0 0 2px oklch(88.2% .059 254.128),
        0 4px 6px -1px #0000001a,
        0 2px 4px -2px #0000001a;
}

.main__card.read {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #0000001a,
        0 1px 2px -1px #0000001a;
}

.main__card.read:hover {
    box-shadow: 0 4px 6px -1px #0000001a,
        0 2px 4px -2px #0000001a;
}

.card__top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px 30px;
}

.card__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    max-width: calc(100% - 400px - 250px);
    width: 100%;
}

.card__icon {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 8px;
}

.card__icon>svg {
    width: 16px;
    height: 16px;
}

.card__content {
    width: 100%;
}

.card__block {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.card__title {
    margin: 0;
    margin-right: 8px;
    font-size: 14px;
}

.card__status {
    padding: 2px 8px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 12px;
}

.card__status.urgent {
    border-color: #fb2c36;
    color: #fb2c36;
}

.card__status.high {
    border-color: #ff6900;
    color: #ff6900;
}

.card__status.medium {
    border-color: #f0b100;
    color: #f0b100;
}

.card__status.low {
    border-color: #00c951;
    color: #00c951;
}

.unread {
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #2b7fff;
}

.main__card.read .unread {
    display: none;
}

.card__text {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    color: #4a5565;
}

.card__client {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.card__name,
.card__phone {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: #6a7282;
    white-space: nowrap;
}

.card__name>svg,
.card__phone>svg {
    width: 12px;
    height: 12px;
}

.card__info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.card__hidden {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.card__hidden::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%236a7282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path><circle cx="12" cy="12" r="3"></circle></svg>');
}

.main__card.hidden {
    display: none;
}

.main__card.hidden .card__hidden::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%236a7282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-10-7-10-7a18.06 18.06 0 0 1 4.51-4.51M19.73 10.73A10.05 10.05 0 0 1 22 13c0 0-3 7-10 7-2.06 0-4.07-.9-5.83-2.34m-2.52-2.52L2 13s3 7 10 7 10-7 10-7-3-7-10-7c-.76 0-1.5.12-2.2.35"></path><path d="M6 6l12 12"></path><circle cx="12" cy="12" r="3"></circle></svg>');
}

.card__time {
    font-size: 12px;
    color: #6a7282;
    text-align: right;
    white-space: nowrap;
}

.card__value {
    padding: 2px 8px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 12px;
    white-space: nowrap;
}

.card__value.communications {
    border-color: #8200db;
    color: #8200db;
}

.card__value.my-clients {
    border-color: #1447e6;
    color: #1447e6;
}

.card__value.analytics {
    border-color: #432dd7;
    color: #432dd7;
}

.card__value.discipline {
    border-color: #c10007;
    color: #c10007;
}

.card__value.support {
    border-color: #ca3500;
    color: #ca3500;
}

.card__bottom {
    max-width: 400px;
    width: 100%;
}

.card__message {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.card__message>svg {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.card__descr {
    margin-right: 8px;
    font-size: 14px;
}

.card__txt {
    font-size: 14px;
    color: #6a7282;
}

.card__buttons {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__btn {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    text-decoration: none;
}

.card__buttons.reminder .card__btn  {
    font-size: 12px;
}

.card__btn:hover {
    background-color: whitesmoke;
    text-decoration: none;
}